django == 4.1.*
django-opensearch-dsl == 0.5.*
#psycopg2-binary = "==2.9.*"
psycopg2 == 2.9.*
urllib3<2
requests
django-cors-headers
django-rest-framework
amqp
django-allauth == 0.52.*
django-bootstrap-v5 == 1.0.*
#django-bootstrap5 = "==24.*"
djangorestframework
drf-spectacular == 0.24.*
gunicorn == 22.*
#gunicorn == 20.1.*
markdown
#mod-wsgi
pip-versions
python-jose
python3-openid
pymemcache
pyyaml
tzdata
ansible
