{% extends "web/base_nav_none.html" %}
{% block title %}Processing Status List{% endblock %}
{% block content %}

<h1 align="center">Processing Status List</h1>
<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

<table class="text-nowrap" style="margin-left:2px" border=1 cellspacing=0 cellpadding=10>
    <tr>
        <th style="width: 300px"><a href="?format=html&sort={% if sort_by == 'About' %}-About{% else %}About{% endif %}">
            About
            {% if sort_by == 'About' %} ▲{% elif sort_by == '-About' %} ▼{% endif %}
        </a></th>
        <th style="width: 300px"><a href="?format=html&sort={% if sort_by == 'Topic' %}-Topic{% else %}Topic{% endif %}">
            Topic
            {% if sort_by == 'Topic' %} ▲{% elif sort_by == '-Topic' %} ▼{% endif %}
        </a></th>
        <th style="width: 200px" class="text-center"><a href="?format=html&sort={% if sort_by == 'ProcessingEnd' %}-ProcessingEnd{% else %}ProcessingEnd{% endif %}">
            Processed at
            {% if sort_by == 'ProcessingEnd' %} ▲{% elif sort_by == '-ProcessingEnd' %} ▼{% endif %}          
        </a></th>
        <th style="width: 50px" class="text-center">Code</th>
        <th style="width: 50px" class="text-center">Message</th>

        <th style="width: 50px" class="text-center">Detail</th>
        <th style="width: 50px" class="text-center">History</th>
        <th style="width: 200px"><a href="?format=html&sort={% if sort_by == 'ProcessingApplication' %}-ProcessingApplication{% else %}ProcessingApplication{% endif %}">
            Application
            {% if sort_by == 'ProcessingApplication' %} ▲{% elif sort_by == '-ProcessingApplication' %} ▼{% endif %}
        </a></th>
    </tr>
    
    {% for record in record_list %}
    <tr>
        <td>{{ record.About }}</td>
        <td>{{ record.Topic }}</td>
        <td class="text-center">{{ record.ProcessingEnd }}</td>
        <td class="text-center">{{ record.ProcessingCode }}</td>
        <td class="text-center"><b><div title="{{ record.ProcessingMessage }}">See</div></b></td>
        <td class="text-center"><a href="{{ record.DetailURL }}?format=html">View</a></td>
        <td class="text-center"><a href="{{ record.HistoryURL }}?format=html">View</a></td>
        <td>{{ record.ProcessingApplication }}</td>
    </tr>
    {% endfor %}
{% endblock %}
