{% extends "web/base_nav_none.html" %}
{% block title %}Processing Metric List{% endblock %}
{% block content %}

<h1 align="center">Processing Metric List</h1>
<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

<table class="text-nowrap" style="margin-left:2px" border=1 cellspacing=0 cellpadding=10>
    <tr>
        <th style="width: 300px"><a href="?format=html&sort={% if sort_by == 'About' %}-About{% else %}About{% endif %}">
            About
            {% if sort_by == 'About' %} ▲{% elif sort_by == '-About' %} ▼{% endif %}
        </a></th>
        <th style="width: 300px">
            Metric</th>
        <th style="width: 50px" class="text-end">
            Value</th>
        <th style="width: 50px">Error</th>
        <th style="width: 250px" class="text-center"><a href="?format=html&sort={% if sort_by == 'ProcessingTimestamp' %}-ProcessingTimestamp{% else %}ProcessingTimestamp{% endif %}">
            Timestamp
            {% if sort_by == 'ProcessingTimestamp' %} ▲{% elif sort_by == '-ProcessingTimestamp' %} ▼{% endif %}
        </a></th>
        <th>Detail</th>
    </tr>

    {% for record in record_list %}
    <tr>
        <td>{{ record.About }}</td>
        <td>{{ record.MetricName }}</td>
        <td class="text-end">{{ record.MetricValue }}</td>
        <td class="text-end">{{ record.ProcessingError }}</td>
        <td class="text-center">{{ record.ProcessingTimestamp }}</td>
        <td class="text-center"><a href="{{ record.DetailURL }}?format=html">View</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
