{% extends "base_detail.html" %}
{% load json_filters %}
{% block title %}Publisher Information{% endblock %}
{% block content %}

<h1 align="center">Publisher Information</h1>

<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

    {% for record in record_list %}
<table style="margin-left:2px;margin-right:2px" border=1 cellspacing=0 cellpadding=3>
        <tr>
        <th style="width: 200px">ResourceID</th>
        <td> {{ record.ResourceID }}</th>
    </tr>
    
    <tr>
        <th>Type</th>
        <td>{{ record.Type }}</td>
    </tr>
    
    <tr>
        <th>Version</th>
        <td>{{ record.Version }}</td>
    </tr>
    
    <tr>
        <th>Hostname</th>
        <td>{{ record.Hostname }}</td>
    </tr>
    
    <tr>
        <th>Location</th>
        <td>{{ record.Location }}</td>
    </tr>
    
    <tr class="align-top">
        <th>EntityJSON</th>
        <td><pre>{{ record.EntityJSON|pretty_json }}</pre></td>
    </tr>
    
    <tr>
        <th>History ID</th>
        <td>{{ record.RecentHistory }}</td>
    </tr>

    <tr>
        <th>Global ID</th>
        <td>{{ record.ID }}</d>
    </tr>

    <tr>
        <th>Created at</th>
        <td>{{ record.CreationTime|date:'Y-m-d H:i:s e' }}</td>
    </tr>
</table>
    {% endfor %}
{% endblock %}
