{% extends "web/base_nav_none.html" %}
{% block title %}Publisher List{% endblock %}
{% block content %}

<h1 align="center">Publisher List</h1>
<p><h3>As of: {% now 'Y-m-d H:i e' %}</h3></p>

<table style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    <tr>
        <th><a href="?format=html&sort={% if sort_by == 'ResourceID' %}-ResourceID{% else %}ResourceID{% endif %}">
            ResourceID
            {% if sort_by == 'ResourceID' %} ▲{% elif sort_by == '-ResourceID' %} ▼{% endif %}
        </a></th>
        <th>Type</th>
        <th><a href="?format=html&sort={% if sort_by == 'Version' %}-Version{% else %}Version{% endif %}">
            Version
            {% if sort_by == 'Version' %} ▲{% elif sort_by == '-Version' %} ▼{% endif %}
        </a></th>
        <th><a href="?format=html&sort={% if sort_by == 'CreationTime' %}-CreationTime{% else %}CreationTime{% endif %}">
            Creation Time
            {% if sort_by == 'CreationTime' %} ▲{% elif sort_by == '-CreationTime' %} ▼{% endif %}
        </a></th>
        <th>Global ID (detail)</th>
    </tr>
    
    {% for record in record_list %}
    <tr>
        <td>{{ record.ResourceID }}</td>
        <td>{{ record.Type }}</td>
        <td>{{ record.Version }}</td>
        <td>{{ record.CreationTime }}</td>
        <td><a href="{{ record.DetailURL }}?format=html">{{ record.ID }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
