{% extends "base.html" %}
{% block title %}Resource Types List{% endblock %}
{% block content %}

<h1 align="center">Resource Types List</h1>

<table style="margin-left:2px" border=1 cellspacing=0 cellpadding=3>
    <tr>
        <th>Resource Group</th>
        <th>Type</th>
        <th>Count</th>
    </tr>
    
    {% for record in results %}
    <tr>
        <td>{{ record.ResourceGroup }}</td>
        <td>{{ record.Type }}</td>
        <td>{{ record.count }}</td>
    </tr>
    {% endfor %}
{% endblock %}
