{% extends "web/base_nav_full.html" %}

{% load get_settings %}

{% block title %}{% settings_value "APP_NAME" %}{% endblock %}

{% block content %}

<p>This RESTful API provides programmatic access to authoritative information about ACCESS infrastructure:</p>

<ul>
    <li>Resource descriptions</li>
    <li>Resource integration roadmaps, badges, and related integration status.</li>
    <li>Resource hosted software modules</li>
    <li>Resource outages</li>
    <li>Resource batch scheduler configuration</li>
    <li>Resource queued and running jobs</li>
    <li>Which projects have access to each ACCESS allocated resource</li>
</ul>

<p>This API may be used by ACCESS projects, resource providers, or other ACCESS community developeds in higher
    level services and tools.</p>

<p>Browse API documentation using the above <i>API Swagger</i> and <i>API Redoc</i> links.</p>

<p>Information from this API is also viewable through WebApp and web pages listed in the:<br>
    &nbsp;&nbsp Operations Dashboard
    <a href="https://dashboard.operations.access-ci.org">https://dashboard.operations.access-ci.org</a>
</p>

<h3>Other special views</h3>
<ul>
    <li><a href="/wh2/cider/v1/access-active/?sort=info_resourceid">ACCESS Active Resources</a>
    <li><a href="/wh2/allocations/v1/fos/?hierarchy=true">ACCESS Fields of Science</a>
    <li><a href="/wh2/state/v1/status/">Warehouse Processing Status</a>
    <li><a href="/wh2/state/v1/publisherinfo/">Warehouse Publishers</a>
</ul>
{% endblock %}