{% extends "web/base_nav_full.html" %}

{% load get_settings %}

{% block title %}{% settings_value "APP_NAME" %}{% endblock %}

{% block content %}

<p>The <i>ACCESS Operations API</i> provides information about ACCESS integrated infrastructure in a software consumable format.</p>

<p>ACCESS resource providers, ACCESS awards, and any developer in the ACCESS community can use these APIs to discover infrastructure and build higher level services using accurated and up-to-date infrastructure information.<p>

<p><b>Use the links above to view Swagger and Redoc API documentation.</b></p>

<h3>Types of Information</h3>

This API will provide information about ACCESS allocated compute, storage, and cloud resources, like:
<ul>
    <li>Resource descriptions</li>
    <li>Resource outages</li>
    <li>Available software modules or VM images</li>
    <li>Resource edge services like login/SSH, Globus Connect Server, Open OnDemand portal, etc.</li>
    <li>Batch scheduler configuration</li>
    <li>Queued and running jobs</li>
</ul>

<p>This API will provide information about ACCESS online (i.e. central) services.</p>

Other types of information:
<ul>
    <li>Which projects have access to each ACCESS allocated compute, storage, and cloud resource</li>
    <li>Resource and software support contact information</li>
</ul>

<h3>Integration Roadmap and Badge Views for ACCESS staff</h3>
<ul>
    <li><a href="/wh2/integration_badges/v1/roadmap_review/">Roadmap Information visible to RPs</a>
    <li><a href="/wh2/integration_badges/v1/badge_review/">Badge Information visible to users</a>
    <li><a href="/wh2/integration_badges/v1/badge_verification/">Badge Verification status</a>
</ul>

<h3>Other special views</h3>
<ul>
    <li><a href="/wh2/cider/v1/access-active/?sort=info_resourceid">ACCESS Active Resources</a>
    <li><a href="/wh2/cider/v1/coco/">ACCESS Compute Comparison</a>
    <li><a href="/wh2/allocations/v1/fos/?hierarchy=true">ACCESS Fields of Science</a>
    <li><a href="/wh2/state/v1/status/">Warehouse Processing Status</a>
    <li><a href="/wh2/state/v1/publisherinfo/">Warehouse Publishers</a>
</ul>
{% endblock %}
